.App {
  text-align: center;
}

.button {
  background-color: green;
  border: 0;
  color: white;
  padding: .5rem 1rem;
}

.pink-button {
  background-color: pink;
}

.red-button {
  background-color: red;
}

.bold-text {
  font-weight: bold;
}